.alert {
	margin-top: 36px;
	background: var(--color-danger);
	color: var(--always-white);
	border-radius: 12px;
	padding: 12px 16px;
	font: var(--text-label);
	position: relative;
  
  &::before {
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 2px solid var(--always-white);
    background: var(--always-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: 700 12px/1 var(--font-family);
    margin-right: 10px;
    vertical-align: middle;
    color: var(--color-danger);
  }
}