*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--background-primary: #f4f5fb;
	--background-secondary: #ffffff;
	--color-brand: #ca3884;
	--color-brand-hover: #a52c6b;
	--color-danger: #c93847;
	--content-primary: #080b12;
	--content-secondary: #374151;
	--content-tertiary: #9ca3af;
	--always-white: #ffffff;
	--border-primary: #d1d5db;
	--border-hover: #b9c2d0;

	--font-family: "Inter", sans-serif;
	--text-title: 700 24px/32px var(--font-family);
	--text-label: 600 16px/20px var(--font-family);
	--text-paragraph: 500 16px/24px var(--font-family);
	--text-link: 500 14px/16px var(--font-family);
}

html{
  width: 100%;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
  font: var(--text-paragraph);
	color: var(--content-secondary);
	background: var(--background-primary);
}

h1, h2{
	color: var(--content-primary);
}

img{
  max-width: 100%;
  height: auto;
}

.container {
	width: 100%;
	max-width: calc(1200px + (32px * 2));
	padding: 0 32px;
	margin: 0 auto;

	@media (max-width: 768px) {
		padding: 0 20px;
	}
}