@import url("./global.css");
@import url("./animations.css");
@import url("./button.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./kit.css");
@import url("./pricing.css");
@import url("./footer.css");

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: clip;

	& figure {
		margin: 0;
	}
}

main img {
	display: block;
	max-width: none;
}