main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;

  & figure {
    width: 100%;
    aspect-ratio: 1 / 1;
    flex: 1 1 248px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  @media (max-width: 580px) {
    gap: 16px;
  }
}